services:
    backend:
      build: .
      container_name: cozy_backend
      # depends_on:
      #   sqlserver-init:
      #     condition: service_completed_successfully
      ports:
        - "8080:8080"
      environment:
        SPRING_DATASOURCE_URL: jdbc:sqlserver://host.docker.internal:1433;databaseName=${DB_NAME};encrypt=true;trustServerCertificate=true
        SPRING_DATASOURCE_USERNAME: sa
        SPRING_DATASOURCE_PASSWORD: ${SA_PASSWORD}
      networks:
        - cozy_network
      restart: on-failure

volumes:
  sql_data:
  
networks:
  cozy_network:
    driver: bridge
    external: true
