services:
  frontend:
    build: .
    container_name: cozy_frontend
    ports:
      - "5173:80"
    networks:
      - cozy_network
    restart: always

volumes:
  sql_data:

networks:
  cozy_network:
    driver: bridge
    external: true
